@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#template_1,
#template_2,
#addInfo {
  font-family: "Arial", sans-serif;
}
/* <---------------Header-------------------------------> */
header h1 {
  color: white;
}
header {
  display: flex;
  background-color: rgb(0, 99, 112);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header img {
  width: 60px;
}
a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

a span {
  position: relative;
  z-index: 2;
}
.fa-download {
  z-index: 100;
}
a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(245, 102, 0);
  transition: all 0.35s;
}

a:hover,
a:hover {
  color: #fff;
}

a:hover:after {
  width: 100%;
}
.wrapper span {
  font-weight: 600;
}
#header_file_icon:hover {
  cursor: pointer;
  color: rgb(245, 102, 0);
}
#header_file_icon {
  color: white;
  transition: 0.3s;
}
#header_file_icon {
  font-size: 1.5rem;
}
/*<--------------------main container--------------------------------------------------------> */
#main_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* <-----------------take input from user page-----------------------------------------> */
select {
  padding: 10px;
  font-size: 16px;
  height: 30px;
}

/* Style when the dropdown is open */
select:focus {
  outline: invert;
}
#addInfo h1 {
  font-family: "Poppins", sans-serif;
}
#addInfo h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  margin-top: 20px;
  text-decoration: underline;
  font-weight: bolder;
}
#addInfo input,
#addInfo select,
#addInfo textarea {
  margin-bottom: 20px;
}
#addInfo {
  width: 40%;
  padding: 16px;
  background-color: rgb(230, 228, 228);
}
#addInfo input,
#addInfo select {
  height: 50px;
}
#addInfo textarea,
#addInfo input,
#addInfo select {
  width: 100%;
  padding: 5px;
}
select{
    border:none;
}
textarea{
    border: none;
}
#add_employment_info {
  margin-bottom: 1.5rem;
}

#add_employement_icons {
  display: flex;
  gap: 20px;
}
#add_employment,
#add_project {
  margin-top: 10px;
}
#add_employment,
#add_project,
#add_education {
  background-color: rgb(245, 102, 0);
  border: none;
  box-shadow: 2px 3px 5px grey;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}
#add_employment:hover,
#add_project:hover,
#add_education:hover {
  box-shadow: none;
  transform: scale(1.01);
  cursor: pointer;
}
#add_employment_after_click,
#add_project_after_click,
#add_education_after_click {
  background-color: transparent;
  border: 2px solid rgb(245, 102, 0);
  color: rgb(245, 102, 0);
  font-size: medium;
  font-weight: bolder;
  margin-top: 20px;
  box-shadow: 2px 3px 5px rgb(219, 218, 218);
  width: 100%;
  padding: 10px;
}
#add_employment_after_click:hover,
#add_project_after_click:hover,
#add_education_after_click:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(245, 102, 0);
}
#add_emplyoment_data,
#add_education_data,
#add_project_data {
  width: 30%;
  padding: 10px;
  border: none;
  background-color: rgb(0, 99, 112);
  color: white;
  font-weight: 600;
  box-shadow: 2px 3px 2px rgb(205, 202, 202);
}
#add_emplyoment_data:hover {
  box-shadow: none;
  cursor: pointer;
}

#warning,
#employement_warning,
#education_warning {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
}
.start_date,
.end_date {
  margin-bottom: 5px;
}
.end_date {
  margin-top: 0px;
}
input{
    border:none;
}
input:focus,textarea:focus,select:focus
{
    border: 1px solid rgb(245,102,0);
    box-shadow: 0 0 3px rgb(245,102,0);
    outline-offset: 0px;
    outline: none;
}
#color1,#color2{
    padding:0;
    border:none;
    cursor: pointer;
    background:rgb(230, 228, 228);
}
.colorpick-eyedropper-input-trigger{
    display:none;
}

/* <--------------#template_1-------------------------> */
#template_1,
#template_2,
#template_3 {
  width: 60%;
  padding: 30px 20px;
}
#template1_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 43rem;
  box-shadow: 2px 3px 5px grey;
}
#temp1_1 {
  width: 250px;
  height: 120vh;
  background-color: rgb(238, 238, 238);
}
#temp1_2 {
  padding: 10px;
  width: 400px;
}
#temp1_content {
  padding: 10px;
  width: 100%;
  height: fit-content;
}
#temp1_content p {
  margin-bottom: 10px;
  font-weight: 300;
  width: 230px;
}
#temp1_content p i {
  margin-right: 10px;
}
.temp1_header {
  height: 150px;
  width: 100%;
  background-color: brown;
  padding: 20px;
}
.temp1_header h1 {
  margin-bottom: 10px;
  font-size: 2.6rem;
}
.temp1_header p {
  font-size: 1.5rem;
  width: 100%;
}
#template1_container hr {
  width: 100%;
}
.temp1_skills {
  display: flex;
  width: 100%;
  gap: 10px;
  font-size: 16px;
  flex-wrap: wrap;
  color: white;
  width: fit-content;
}
.div_skill {
  margin-right: 10px;
  background-color: black;
}
.temp1_main_content {
  display: flex;
  width: 43rem;
  height: 100%;
}

/* project */
.employment_temp1_main {
  margin-bottom: 20px;
}
.temp1_emplyoment_description {
  margin-left: 15px;
}
.temp1_job_title {
  margin-top: 5px;
}
.project_main1,
.employment_temp1_main1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.employment_temp1_main1 p {
  font-size: 12px;
}
.employment_temp1_main1 ul li {
  font-weight: bolder;
  margin-left: 12px;
}
.temp1_job_title {
  font-size: 13px;
  margin-left: 11px;
}
.temp1_2_summary {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.temp1_2_summary p {
  word-wrap: break-word;
}

/* <----------------------template_2-------------------------> */
#template2_container,
#template3_container {
  box-shadow: 2px 3px 5px grey;
  height: 100%;
}
#temp2_header h1 {
  font-size: 1.8rem;
}
#temp2_header p {
  font-size: 1rem;
}
#temp2_1 {
  display: flex;
}
#temp2_icons {
  position: absolute;
  right: 20px;
  color: black;
  padding: 18px;
}
.temp1_2_professional_exp {
  width: 100%;
}
#temp2_icons p i {
  margin-right: 10px;
  margin-bottom: 10px;
}
#template2_container .temp1_header {
  height: 100px;
  width: 100%;
  background-color: rgb(211, 204, 204);
}
#temp2_2 {
  margin-top: 30px;
  padding: 20px;
}

h4 {
  margin-top: 20px;
}
.temp1_job_title{
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 13px;
}
.temp1_emplyoment_description{
    font-size: 15px;
}

/* template-3---------------------------- */
#template_3 {
  font-family: "Playfair Display", serif;
}
/* icons */
#temp3_icons {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
#temp3_icons p i {
  margin-right: 10px;
}
#template3_container {
  padding: 30px;
}
#tem3_header {
  background-color: transparent;
  width: 100%;
  text-align: center;
  height: 60px;
}
#tem3_header h1 {
  font-size: 2rem;
}
#temp3_line2 {
  border: 3px solid black;
  margin-top: -8px;
}
.temp3_summary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 20px;
}
.line {
  width: 50%;
  border: 1.5px solid black;
  height: 0px;
}
.temp3_summary h4 {
  margin: 0 20px;
}
#template_2,
#template_3 {
  display: none;
}
.temp1_2_professional_exp,
.temp1_2_project,
.temp1_2_education {
  margin-bottom: 20px;
}
.templateForSmallDevice {
  display: none;
  margin-top: 3rem;
  margin-left: 20px;
}
.templateForSmallDevice span {
  color: rgb(245, 102, 0);
}
hr{
    margin-bottom: 5px;
}
.employment_temp1_main1{
    margin-top: 12px;
}

/* mediaquery--------------------- */
/* Media query for small devices */
@media only screen and (max-width: 600px) {
  header {
    padding: 8px 16px;
  }
  h4{
    font-size: 12px;
  }
  header img {
    width: 40px;
  }

  a {
    width: 100%;
  }

  #addInfo {
    width: 100%;
  }

  #main_container {
    flex-direction: column;
  }

  .temp1_main_content {
    width:100%;
}
  #template_1,
  #template_2 {
    width: 100%;
  }

  #template1_container,
  #template2_container {
    width: 100%;
  }

  #temp1_1 {
    width: 20%;
    height: auto;
  }

  #temp1_2 {
    width: 80%;
  }
  #main_container {
    flex-direction: column;
  }

  #template_1,
  #template_2,
  #template_3 {
    width: 100%;
  }
  #temp1_content p{
    display: flex;
    flex-wrap: wrap;
    width:100%;
  }
  #temp1_content p i{
    font-size: 10px;
    margin-right: 3px;
  }
  .temp1_skills {
    font-size: 12px;
}
.temp1_header h1 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.temp1_header p{
    font-size: 12px;
}
.temp1_header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    height: 80px;
    width: 100%;
    background-color: brown;
    padding: 20px;
}
.temp1_2_summary p {
    font-size: 12px;
}
.employment_temp1_main1 ul li{
    font-size: 14px;
}
.temp1_emplyoment_description {
    font-size: 12px;
    margin-top:0;
    margin-left: 12px;
}
.employment_temp1_main1 p {
    font-size: 8px;
}
.employment_temp1_main1{
    margin-top: 10px;
}
}

/* Media query for medium devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  header {
    padding: 12px 24px;
  }
  .temp1_main_content {
    display: flex;
    height: 100%;
}
  header img {
    width: 50px;
  }

  a {
    width: auto;
  }

  #addInfo {
    width: 100%;
  }

  #main_container {
    flex-direction: column;
  }

  #template_1,
  #template_2,
  #template_3 {
    width: 100%;
  }

  #template1_container,
  #template2_container {
    width: 100%;
  }

  #temp1_1 {
    width: 30%;
    height: auto;
  }

  #temp1_2 {
    width: 60%;
  }
  .templateForSmallDevice {
    display: block;
  }
  #add_emplyoment_data,
  #add_education_data,
  #add_project_data {
    width: 20%;
  }
  .temp1_header {
    height: 120px;
}
}
